.container{
    text-align: center;
}
#myCarousel{
    background-color: lightcyan;
    
}
#myCarousel img{
    height: 300px;
    margin-top: 35px;
    
}
.carousel-inner p{
    margin-bottom: 15px;
    margin-top: 15;
    font-size: 20px;
    color: black;
}
.description{
    text-align: center;
}
.line {
    height: 6px;
    background: black;
    width: 70px;
    margin: 8px auto;

}
.line2 {
    height: 6px;
    background: black;
    width: 120px;
    margin: 8px auto;

}